# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. SQL
1. R
1. Python

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Lattice
3. Pandas

| Data Science Tools |
| ---- |
| Apache Spark |
| Jupyter Notebook |
| RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60 
print(hours,"hours")

3.3333333333333335 hours

## Author
Dorot Daniel Beniamin